<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <title>ספר מתכונים</title>
    <link rel="stylesheet" href="static/main.css" />
  </head>
  <body>
    <div id="content">
      <div class="header">
        <a href="index.html"> ספר המתכונים של נמיר </a>
      </div>
      <div class="header">
        <div class="underline"></div>
      </div>
      <h1>ספר המתכונים של נמיר</h1>

      {% for level, category in categories %}
      {% if category.name %}
      <h{{level}}>{{category.name}}</h{{level+1}}>
      {% endif %}
      <ul>
        {% for path, recipe in category.recipes.items() %}
        <li>
          <a href="{{path}}.html" class="recipeList">{{recipe.name}}</a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </body>
</html>
