<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>

<div id="recipe">

    <h1>{{title}}</h1>

    {{description}}

    <h2>חומרים</h2>

    <ul>
        {% for ingredient in ingredients %}
        <li>
            {{ ingredient }}
        </li>
        {% endfor %}
    </ul>

    <h2>הוראות הכנה</h2>

    {% for step in steps %}
    <p>
        {{ step }}
    </p>
    {% endfor %}

</div>
</body>

</html>